.EditMenu{
    position:absolute;
    height:50px;
    padding:5px;
    width:200px;
    bottom:-40px;
    left:0;
    display:flex;
    /* border:1px solid black; */
    box-shadow: 0px 2px 8px 4px rgba(0,0,0,0.46);
    background-color:rgb(253, 253, 253);
    z-index:100;
    justify-content:space-around;
    align-items: center;
    border-radius: .5em;
}

.EditMenu div{
    padding:20px;
    
}