.Timeline{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    overflow-y:auto;
    margin:0 auto;
    min-height:200px;
    height:40vh;
    align-items:center;
    justify-content:center;
    background-color: rgb(58, 60, 61);
    border-radius:20px;
    padding:5px;
}