.Goal{
    /* width:80%; */
    display:flex;
    
    height:50px;
    box-sizing: border-box;
    margin:10px 0;
}

.Box{
    padding:10px;
    text-align:left;
}
.GoalName{
    flex-basis:80%;
    background-color:#E3DCDC;
    color:black;
    align-items:flex-start;
    
}

.View{
    flex-grow:1;
    background-color:#B2CCC3;
}

.Delete{
    flex-grow:1;
    background-color:#E0A6A6;
}

.View:hover, .Delete:hover{
    opacity:0.8;
    cursor:pointer;
}
p{
    all:unset;
}