.Menu{
    width:60%;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#dadada;
    padding:20px;
    border-radius:20px;
}

.Menu .Container{
    margin:10px 0;
    width:100%;
    text-align:left;
}

.Input{
    display:block;
    background-color:rgb(208, 233, 230);
    border:0;
    border-bottom:2px solid rgb(87, 145, 179);
    outline:none;
    width:100%;
    font-family: "inherit"
    
}


.Menu textarea{
    resize:none;
    
}

